@using Business.DTOs.Admin.LessonDTOs

@{
    int count = 1;
}
@model LessonDetails

<div class="container">
    <div class="row justify-content-center">
        <h2 class="col-md3">Lesson : @Model.Lesson.Name</h2>
    </div>
    <div class="row justify-content-center">
        <h2 class="col-md3">Teacher : @Model.Lesson.TeacherUser.Name</h2>
    </div>
    <div class="row justify-content-center">
        <h2 class="col-md3">Group : @Model.Lesson.Group.Name</h2>
    </div>
    <div class="row justify-content-end">
        <a class="btn btn-primary col-md-2" asp-action="DetailsLessons" asp-controller="Group" asp-route-id="@Model.Lesson.GroupId">Back to page</a>
    </div>
</div>

<div class="container">
    
    <div class="row justify-content-start">
    <a class="btn btn-primary" asp-action="Create" asp-controller="LessonTime" asp-route-lessonId="@Model.Lesson.Id">Create</a>
    </div>
</div>
<div class="container justify-content-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lesson</th>
                <th scope="col">Teacher</th>
                <th scope="col">Group</th>
                <th scope="col">Date</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LessonTimes)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Lesson.Name</td>

                    <td>@item.Lesson.TeacherUser.Name</td>
                    <td>@item.Lesson.Group.Name</td>
                    <td>@item.Date</td>
                    <td>
                        <a class="btn btn-info" asp-action="Update" asp-controller="LessonTime" asp-route-id="@item.Id">Update</a>
                        <a class="btn btn-warning" asp-action="Details" asp-controller="Group" asp-route-id="@item.Lesson.GroupId">Group</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

                count++;
            }

        </tbody>
    </table>

    <div asp-validation-summary=All class="text-danger"></div>
</div>



